#container{
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
}
#main{
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: white;
}
#main>h1{
    margin-bottom: 5%;
    margin-left: 4%;
}
#box{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
#box>div{
    height: 140px;
    width: 12%;
    box-shadow: #0000000d 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
}
#box>div>img{
    height: 35px;
    width: 40px;
    margin-top: 25%;
    margin-bottom: 8%;
}
#contact{
    height: 180px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
#contact>div:nth-child(2){
    height: 150px;
    width: 40%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#contact>div:nth-child(2)>div>p{
    color: green;
    /* text-align: center; */
}
#contact>div:nth-child(1){
    margin-left: 4%;
}
#box>div:hover{
    cursor: pointer;
}