*{
    height: auto;
    width: auto;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar>{
    margin-top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
#nav{
  height: 80px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#left_nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
#sidebar{
    width: 5%;
    margin-left: -100px;
    margin-top: 3%;
}
#sidebar>hr{
    height: 1px;
    background-color: white;
    margin-top: 4px;
}
#logo{
    height: 60px;
    width: 50%;
    margin-left: -210px;
}
#right_nav{
    width: 45%;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    justify-content: space-around;
    float: right;
}
#body{
    margin-top: 8%;
}
#body>h1{
    margin-bottom: 5%;
    margin-left: 45%;
}
.team{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 4%;
}
.team>img{
    height: 220px;
    width: 210px;
    margin-right: 4%;
}
.team>div>h1{
    margin-bottom: 4%;
}
.team>div>h2{
    margin-bottom: 4%;
}
#low_nav{
  display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #3c3c3c; 
    background-color: rgba(0,0,0,0.7);
    
}
  
#sidebarNav{
  background-color: #fefefe;
    padding: 20px;
    height: 600px;
    /* border: 1px solid #888; */
    width: 28%;
    margin-top: -8%;
}
#sidebarNav>div{
  display: flex;
  align-items: center;
  margin-bottom: 12%;
}
#sidebarNav>div:nth-child(1){
  height: 60px;
  width: 418px;
  background-color: #e5e8ec;
  margin-top: -12px;
  margin-left: -20px;
  margin-bottom: 6%;
}
#sidebarNav>div>img{
  height: 30px;
}
#sidebarNav>div:nth-child(1)>i{
  margin-left: 7%;
  margin-right: 2%;
}
#sidebarNav>div:nth-child(2)>h4{
  margin-left: 42%;
  color: green;
}
#sidebarNav>div>i{
  margin-right: 2%;
  margin-left: 2%;
}
#home{
    height: 700px; 
    width: 100%;
    background-image: url("https://www.zoomcar.com/build/fb65fcc43b8bededb813e093ea2d47d3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: -320px; 
}

#body{
    width:28%;
    margin: auto;
    margin-top: 4%;
    font-size: 18px;
}
#roundTrip>p>i{
    margin-top: 60%;
    margin-bottom: 6%;
}
#roundTrip>p>i{
    color: green;
    background: none;   
}
#pickup,#pickoff,#date{
    height: 60px;
    width: 100%;
    text-align: left;
    border: 1px solid rgb(199, 196, 196);
    background-color: whitesmoke;
    color: rgb(138, 135, 135);
    margin-bottom: 6%;
}
#pickoff{
    margin-top: -25px;
    display: none;
}
#pickup>p{
    margin-top: 4%;
    margin-left: 4%;
}
#pickoff>p{
    margin-top: 4%;
    margin-left: 4%;
}
#body>button{
    height: 60px;
    width: 100%;
    background-color: #cccccc;
    border: none;
    color: rgb(138, 135, 135);
    margin-bottom: 200px;
    margin-top: 2%;
}
#img_box{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin: auto;
    grid-gap: 1%;
    grid-row-gap: 3%;
    margin-top: 6%;
}
#img_box>div>img{
    width: 500px;
    border-radius: 4px;
}
#img_box > div:nth-last-child(1)>img{
    height: 440px;
    width: 1050px;
    /* margin-top: 4%; */
}
.refer{
    height: 180px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#box{
    height: 350px;
    width: 100%;
    background-color: #f5f5f5;            
    display: flex;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 4%;
}
.refer>div>img{
    height: 120px;
}
#offers{
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
}
#offers+hr{
    margin-bottom: 2%;
    border: 1px solid #e1e1e1;
}
#offer_img{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
#offer_img > img{
    height: 180px;
    width: 280px;
}
#offers>h4{
    margin-left: 1%;
}
i{
    height: 20px;
    background-image: none;
}
#trip{
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 10%;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #3c3c3c; 
    background-color: rgba(0,0,0,0.7);
}
#tripSearch{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
#tripSearch>h5{
    margin-bottom: 2%;
}
.close_trip{
    height: 50px;
    width: 40px;
    border: 1px solid #bcbcbc;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 50%;
    float: right;
    margin-right: 25%;
    margin-top: -4%;
}
.trip_img{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}
.trip_img > i{
    color: green;
}
.trip_img>img{
    height: 30px;
}
.trip_div{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #bcbcbc;
    font-size: 14px;
    margin-bottom: 2%;
}
.trip_div>div>img{
    height: 100%;
    width: 80px;
    /* margin-right: 0px; */
}
.trip_div>div>h4{
    color: #3a3939;
    margin-left: 4%;
    margin-bottom: 1%;
}
.trip_div>div>p{
    color: #bcbcbc;
    margin-left: 4%;
}
#about{
    background-color: #f5f5f5;
    font-size: 12px;
    margin-bottom: 4%;
}
#about>div{
    width: 70%;
    margin: auto;
}
#about>div>h5{
    font-size: 14px;
    margin-bottom: 1%;
}

#about>div>hr{
    margin-bottom: 6%;
    border: 1px solid #e1e1e1;
}
#pick_up{
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 10%;
    width: 100%; 
    height: 650px; 
    overflow: auto; 
    background-color: #fefefe; 
    position: fixed;
    /* background-color: rgba(0,0,0,0.7); */

}
#back_arrow{
    height: auto;
    width: 10%;
    margin-top: -100px;
    margin-left: 2%;
}
#back_arrow>i{
    color: green;
    /* margin-top: -120px; */
}
#search{
    height: auto;
    width: 40%;
    margin: auto;
    margin-top: 60px;
}
#search>input{
    height: 60px;
    width: 90%;
    margin-bottom: 8%;
    border: none;
    border :1px solid #e1e1e1;
}
#search>div{
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
#search>hr{
    width: 90%;
    margin-bottom: 4%;
    border: 1px solid #e1e1e1;
}
#search>div>i{
    margin-right: 6%;
    color: #4d4b4b;
}
#search>div>p{
    color: #4d4b4b;
}
#copyright{
    width: 30%;
    font-size: 12px;
    margin: auto;
    margin-bottom: 1%;
}
#about_us{
    height: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
}
#about_option{
    height: auto;
    text-align: center;
    font-size: 12px;
    margin: auto;
    display: none;
    background-color: #f7f9fb;
}
#about_option>div{
    margin-bottom: 1%;
    margin-top: 1%;
}
.gmap_canvas {
    height: 100%;
    width: 100%;
    overflow:hidden;
    background:none!important;
    
    border:  2px solid red;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
    /* background: none; */
    border:  2px solid red;
}
#main{
    display: none;
    position: fixed;
    z-index: 1; 
    /* padding-top: 100px;  */
    left: 0;
    top: 10%;
    width: 100%; 
    height: 650%; 
    overflow: auto; 
    background-color: #fefefe; 
}

#continue{
    height: 40px;
    width: 8%;
    color: white;
    background-color: green;
    margin-right: 20px;
}
#sidebar,#logo,#right_nav>div,#sidebarNav>div,#findCar,.trip_div,.trip_img,.close_trip,#about_us,#about_option>div,#currLocation,#location,#img_box>div>img,.refer,#offer_img>img:hover{
    cursor: pointer;
}
#date{
    display: none;
    margin: auto;
    margin-top: -10%;
    font-size: 18px;
}
#log{
    display: none;
}
#login{
    width: 30%;
    display: flex;
    /* justify-content: space-between; */
}
#login>img{
    height: 30px;
    margin-left:1%;
}