*{
    height: auto;
    width: auto;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar>{
    margin-top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
#nav{
  height: 80px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#left_nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
#sidebar{
    width: 5%;
    margin-left: -100px;
    margin-top: 3%;
}
#sidebar>hr{
    height: 1px;
    background-color: white;
    margin-top: 4px;
}
#logo{
    height: 60px;
    width: 50%;
    margin-left: -210px;
}
#right_nav{
    width: 45%;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    justify-content: space-around;
    float: right;
}
#body{
    margin-top: 8%;
}
#body>h1{
    margin-bottom: 5%;
    margin-left: 45%;
}
.team{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 4%;
}
.team>img{
    height: 220px;
    width: 210px;
    margin-right: 4%;
}
.team>div>h1{
    margin-bottom: 4%;
}
.team>div>h2{
    margin-bottom: 4%;
}
#low_nav{
  display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #3c3c3c; 
    background-color: rgba(0,0,0,0.7);
    
}
  
#sidebarNav{
  background-color: #fefefe;
    padding: 20px;
    height: 600px;
    /* border: 1px solid #888; */
    width: 28%;
    margin-top: -8%;
}
#sidebarNav>div{
  display: flex;
  align-items: center;
  margin-bottom: 12%;
}
#sidebarNav>div:nth-child(1){
  height: 60px;
  width: 418px;
  background-color: #e5e8ec;
  margin-top: -12px;
  margin-left: -20px;
  margin-bottom: 6%;
}
#sidebarNav>div>img{
  height: 30px;
}
#sidebarNav>div:nth-child(1)>i{
  margin-left: 7%;
  margin-right: 2%;
}
#sidebarNav>div:nth-child(2)>h4{
  margin-left: 42%;
  color: green;
}
#sidebarNav>div>i{
  margin-right: 2%;
  margin-left: 2%;
}
#body{
    margin-top: 8%;
}
#body>h1{
    margin-bottom: 5%;
    margin-left: 45%;
}
.team{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 4%;
}
.team>img{
    height: 220px;
    width: 210px;
    margin-right: 4%;
}
.team>div>h1{
    margin-bottom: 4%;
}
.team>div>h2{
    margin-bottom: 4%;
}
#sidebar,#logo,#right_nav>div,#sidebarNav>div,#findCar,.trip_div,.trip_img,.close_trip,#currLocation,#location,#img_box>div>img,.refer,#offer_img>img:hover{
    cursor: pointer;
}
#log{
    display: none;
}
#login{
    width: 30%;
    display: flex;
    /* justify-content: space-between; */
}
#login>img{
    height: 30px;
    margin-left:1%;
}