#navbar{
    margin-bottom: 4%;
}
#one{
  background-image: url("https://www.zoomcar.com/zap/subscribe/build/afea1aa2acac35ddd7f67705e34fb2ad.jpg");
  padding: 2%;
  background-repeat: no-repeat ;
  background-size: cover;
  margin:auto;
border-radius: 10px;
  background-position-y: 80%;
  
}
#one{
 color:white;
 width: 70%;
}
button{
 background: green;
 padding: 5px;
 color: white;
}
#two{
 width:70%;
 margin: auto;
 height: 50px;
 align-items: center;
 display: flex;
 flex-direction: column;
}
#two video{
 width:100%;
 height: 500px;
 margin-bottom: 8%;
 margin-top: 8%;
}
#container div{
 width: 70%;
 margin: auto;
 
}
#two img{
 width:100%;
 margin: auto;
}
.three{
 display :flex;

 padding: 1%;

}
.three img,p,h2{
 padding: 5%;
}
#four{
 display:flex; 
}
#four div{
 width: 50%;
 margin:1%;

}
#four img{
 width:100%
}
#secpart{
margin-top: 1%;
width:70%;
margin-left:15%;
overflow-x: hidden;
overflow-x: scroll;
}
.h{
text-align: center;
margin-top: 140%; 
}
#secpart div{
width:130%;
margin:2%
}
#secpart h1{
margin-left: 30%;
}
#thirdpart{
    width: 80%;
display: flex;
margin: auto;
}
#thirdpart div{
padding-right: 5%;
padding-left: 5%;
border-right: 1px solid grey;
}
#thirddetail,.cal,#lastpart{
    text-align: center;
margin-top: 6%;
}
#thirddetail h1{
margin-left: 5%;
font-size: 50px;
}
.thirddiv{
    margin: auto;
    text-align: center;
}
p{
color: grey;
}
span{
font-size: 50px;
color: green;
}
.cal{
    width: 80%;
    margin: auto;
    font-size: 18px;
    text-align: left;
    margin-top: 4%;
}
.cal>h6{
    color: green;
    text-decoration: underline;
    margin-top: 2%;
}
.cal>button{
    margin-top: 2%;
}
#fifth{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}
#six{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
#six>div{
    font-size: 18px;
    width: 50%;
    border: 1px solid rgb(185, 184, 184);
}
.subsix{
display: flex;
justify-content: space-around;
}
#lastpart div{
padding: 2%;
}
.line p{
border-bottom: 1px solid grey;
padding-bottom:1% ;
}
#foot{
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    background-color: rgb(212, 211, 211);
}